body{
	padding-top: 40px;
	font-family: 'Titillium Web', sans-serif;
}


.brand{
	width: 200px;
    height: 200px;
     border: 1px solid black;
    padding: 10px;
   margin: 0px auto;
}


.actions{
		margin-top: 30px;
}

.actions1 {
		margin-top: 30px;
}

.table > thead > tr > th {
    vertical-align: middle;
    height: 50px;
	text-align: center;
}

.table td {
	text-align: center;
	/* background-color: lightseagreen; */
/*	color: #0d0d0d;  */
	color:ghostwhite;
	 vertical-align: middle !important;
	font-weight: bolder;
}

	thead{
	background-color: #090909;
		opacity: 0.9;
		color: bisque;
}

.text-info {
	color: #060317;
}


.for-bgimage{
	background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.2)),url("images/images4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	

}

.round{

	border-radius: 10px;
	background-color: #7bed5f;
	
}

.logo-team{
	width: 150px; 
	height: 150px;
	margin: 5px auto;
}

.actionsMatch{

	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.matchLeft{
	box-shadow: 4px 5px 10px lightgrey;
	margin-left: 20px;
}

.matchRight{
	box-shadow: 4px 5px 10px lightgrey;
	margin-right: 20px;
}


@media screen and (max-width: 768px){

	.trophy {
		font-size: 14px;
	}

	.table td {
		font-size: 10px;
		font-weight: 300;
}

	.forMatch{
		font-size: 12px;
	}
}

@media screen and (max-width: 480px){


	.intro-text{

		font-size: 12px;
		margin-top: 5px;
	}
	.forMatch{
		font-size: 10px;
	}
	.logo-team {
    width: 100px;
    height: 100px;
	}

	.teamHeading {
		font-size: 12px;
	}

	.matchLeft{
	
	margin-left: 10px;
}

.matchRight{
	
	margin-right: 10px;
}
}
