				
				
					
						<div class="row">
							<div class=" col-xs-12">
							<img ng-src = "{{ mainCtrl.logo }}" class="img-responsive img-circle brand" >
						</div>
							<div class="col-xs-4 dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Season 
				<span class= "caret"></span>
				</button>
				
				<ul class="dropdown-menu" role= "menu">
					<li><a href="#"> 2015/16</a></li>
					<li><a href="#"> 2016/17</a></li>
					</ul>
				</div>
			</div>
					<div class="row">
							<div class=" col-xs-12">
							<img ng-src = "{{ mainCtrl.logo }}" class="img-responsive img-circle brand" >
						</div>
							<div class="col-xs-4 dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Season 
				<span class= "caret"></span>
				</button>
				
				<ul class="dropdown-menu" role= "menu">
					<li><a href="#"> 2015/16</a></li>
					<li><a href="#"> 2016/17</a></li>
					</ul>
				</div>
			</div>
				
