				
				
				
				
					<div class="row">

							<div class="col-xs-12 actions">
							 <form class="form-group">
								 	
								 	<div class="col-xs-6">
								 	<label for="filter-date" > Enter Date </label>
 									<input type="text" name="date" class="form-control" id= "filter-date" placeholder="Enter match date" ng-model="getDate.date">
 									<span class="help-block text-center">Enter as<em>YYYY-mm-dd</em></span>
 								</div>
 									<div class="col-xs-6 colHidden">    <!-- to hide on lower screen size -->
 									
 									<label for="filter-score2" > Enter Matchday </label>
 									<input type="text" name="day" class="form-control" id= "filter-day" placeholder="Enter match day" ng-model="getDay.name" data-toggle = "tooltip" data-placement="right" title="First letter starts with Caps">
 									<span class="help-block text-center">Eg: Enter as <em>Matchday 1</em></span>
 								</div>		
 								</form>
 								</div>

 									<div class="col-xs-12 actions">
							 		<form class="form-group">
							 		<div class="col-xs-6">
 									<label for="filter-team" > Enter Team1 </label>
 									<input type="text" name="team" class="form-control" id="filter-team" placeholder="Enter name" ng-model="getTeams.team1.key">
 									<span class="help-block text-center">Eg: Enter as <em>Liverpool</em></span>
 								</div>
							 		
 									<div class="col-xs-6">
 									<label for="filter-team" > Enter Team2 </label>
 									<input type="text" name="team" class="form-control" id="filter-team" placeholder="Enter name" ng-model="getTeams.team2.key">
 									<span class="help-block text-center">Eg: Enter as <em>Arsenal</em></span>
 								</div>		
 								</form>
 								</div>
 								
 									<div class="col-xs-12 actions">
							 		<form class="form-group">	
 									<div class="col-xs-6">
 									<label for="filter-date" > Enter Team1 score </label>
 									<input type="text" name="score" class="form-control" id= "filter-score1" placeholder="Enter score" ng-model="getDate.score1">
 								</div>
 								<div class="col-xs-6">
 									<label for="filter-score1" > Enter Team2 score </label>
 									<input type="text" name="score" class="form-control" id= "filter-score2" placeholder="Enter score" ng-model="getDate.score2">
 								</div>	
 							</form>	
						</div>
					</div> <!-- ROW ENDS -->

							<div class="actions1"> 
							<table class="table table-responsive table-bordered table-condensed">
							
								<caption class="text-center">
								<h3 class="trophy">
								<span><i class=" fa fa-trophy fa-3x text-danger"></i>{{ mainCtrl.nameFirst }}<i class="fa fa-trophy fa-3x text-danger"></i> </span>
								</h3>
							</caption>

								<thead class ="main-head">
									<tr>
							        <th class="colHidden">Day</th>
							        <th>Date</th>
							        <th>Team1</th>
							        <th>Team2</th>
							        <th>Score</th>
							        <th>Details</th>
							     </tr>
						     </thead>

						 <tbody ng-repeat ="items in mainCtrl.rounds1 | filter : getDay" class="for-bgimage" ng-init="matchId1=$index">

						 <tr ng-repeat ="item in items.matches | filter : getDate | filter : getTeams" ng-init="matchId2=$index">
						  	
						  		<td class="colHidden">{{ items.name }}</td>
						  		<td>{{ item.date  }}</td>
						  		<td>{{ item.team1.key | uppercase  }}</td>
						  		<td>{{ item.team2.key | uppercase }}</td>
						  		<td>{{ item.score1 }} - {{ item.score2 }}</td>
						  		<td><span style = "display:inline-block;" class="text-center"><i class="fa fa-futbol-o fa-2x"></i></span>
						  		<p style = "margin: 5px 0px;">
						  		<a ng-href="#/match/{{ matchId1 }}/{{ matchId2 }}/{{ item.date }}" class="btn btn-default btn-xs round">Dive in &raquo;</a>
						  		</p>
						  		</td>
			
						  </tr>

					  	</tbody>

					</table>
				</div>

							<div class="actions1"> 
							<table class="table table-responsive table-bordered table-condensed">
							<caption class="text-center">
								<h3 class="trophy">
								<span><i class=" fa fa-trophy fa-3x text-danger"></i>{{ mainCtrl.nameSecond }}<i class=" fa fa-trophy fa-3x text-danger"></i>
								</span>
							</h3>
						</caption>

								<thead class="main-head">
								<tr>
						        <th class="colHidden">Day</th>    
						        <th>Date</th>
						       <th>Team1</th>
							   <th>Team2</th>
							   <th>Score</th>
						        <th>Details</th>
						     </tr>
						  </thead>

						<tbody ng-repeat ="items in mainCtrl.rounds2 | filter : getDay" class="for-bgimage" ng-init="matchId1=$index">

						 <tr ng-repeat ="item in items.matches | filter : getDate | filter : getTeams" ng-init="matchId2=$index">
						  	
						  		<td class="colHidden">{{ items.name }}</td>
						  		<td>{{ item.date }}</td>
						  		<td>{{ item.team1.key | uppercase  }}</td>
						  		<td>{{ item.team2.key | uppercase }}</td>
						  		<td>{{ item.score1 }} - {{ item.score2 }}</td> 
						  		<td><span style = "display:inline-block;" class="text-center"><i class="fa fa-futbol-o fa-2x"></i></span>
						  		<p style = "margin: 5px 0px;">
						  		<a ng-href="#/match/{{ matchId1 }}/{{ matchId2 }}/{{ item.date }}" class="btn btn-default btn-xs round">Dive in &raquo;</a>
						  		</p>
						 		 </td>
						  	</tr>
					  	</tbody>
					</table>
					
					</div>
				
				